

<div class="component">
	<table class="table table-bordered">
    <thead>
      <tr>
				<th rowspan="2" style="width:10% !important;"></th>
				<th colspan="7">2021年1月</th>
			</tr>
			<tr>
				<th style="width: 12%" class="sat">23日<br>（土）</th>
				<th style="width: 12%" class="sun">24日<br>（日）</th>
				<th style="width: 12%">25日<br>（月）</th>
				<th style="width: 12%">26日<br>（火）</th>
				<th style="width: 12%">27日<br>（水）</th>
				<th style="width: 12%">28日<br>（木）</th>
				<th style="width: 12%">29日<br>（金）</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>