<div id="container">
  <div class="row">
		<table class="table table-bordered">
			<thead>
				<div class="col-md-6 test1">あ</div>
        <h1>い</h1>
				<h1>う</h1>
　　　　　<h1>え</h1>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>