<div id="container">
  <div class="row">
		<table class="table table-bordered">
			<thead>
				<div class="col-xs-6 col-lg-4">あ</div>
        <div class="col-xs-6 col-lg-4">い</div>
        <div class="col-xs-12 col-lg-4">う</div>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>