<div id="container">
  <div class="row">
		<table class="table table-bordered">
			<thead>
				<div class="col-xs-6 test1">あ</div>
        <div class="col-xs-6 test2">い</div>
        <div class="col-xs-12 test3">う</div>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>