<div class="container">
  <br>
  <!-- カレンダーのコンテナ -->
  <div id="holiday_calendar"></div>

  <!-- ここからモーダル表示部分として追記 -->
  <div id="calendarModal" class="modal fade">
    <div class="modal-dialog modal-dialog-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">close</span>
          </button>
          <span id="modalTitle" class="modal-title"></span>
        </div>
        <div id="modalBody" class="modal-body"></div>
        <div id="modalFooter" class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>

<style>
.container{
  width: 100%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
</style>

