<div class="container">
  <br>
  <!-- カレンダーのコンテナ -->
  <div id="holiday_calendar"></div>

  <div class="modal-dialog" role="document" id="new_event">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">新規休日</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /.modal-header -->
      <div class="modal-body">
<h1>test</h1>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >閉じる</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<script>

</script>

<style>
.container{
  width: 100%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
</style>

