<div class="modal-dialog">
    <div class="modal-content">
        <%= form_for @task_course, url: user_calendar_task_courses_path(current_user, current_user.calendars.first) do |f| %>

        <% end %>
    </div>
</div>