<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= Calendar.find(1).calendar_name %></a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            設定
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">ユーザー設定</a></li>
            <li><a class="dropdown-item" href="#">カレンダー設定</a></li>
            <li><a class="dropdown-item" href="#">休日設定</a></li>
            <li><a class="dropdown-item" href="#">スタッフ設定</a></li>
            <li><a class="dropdown-item" href="#">コース設定</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"><%= link_to "ログアウト", sign_out_path, class: "logout-button" %></a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>