<div class="container">
  <br>
  <!-- カレンダーのコンテナ -->
  <div id="calendar"></div>

  <div id="user_new_task_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>

<style>
.container{
  width: 100%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
</style>

<script>
</script>

