<div class="container">
  <br>
  <!-- カレンダーのコンテナ -->
  <div id="calendar"></div>

  <div id="inputScheduleForm" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-nm">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">スケジュール登録</h4>
              </div>
              <div class="modal-body">

              </div>
          </div>
      </div>
  </div>
</div>

<style>
.container{
  width: 100%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
</style>

<script>
$(function(){
  $(".btn1").on("click", function(){
    //listBの高さを取得
    alert("アラートを表示します。")
  });
});
</script>

