<%= render 'header' %>

<!-- カレンダーのコンテナ -->
<div id="calendar"></div>

<script>
$('#calendar').fullCalendar({
header: {
    left: 'month, agendaWeek, agendaDay',
    center: 'title',
    right: 'today prev,next'
},
defaultView: 'agendaWeek'
})
</script>

