<%= render 'header' %>

<div class="container">
  <!-- カレンダーのコンテナ -->
  <div id="calendar"></div>
</div>

<style>
.container{
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
</style>