<div class="container">
  <br>
  <!-- カレンダーのコンテナ -->
  <div id="calendar"></div>
</div>

<style>
.container{
  width: 100%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
</style>

<script>
</script>

