<div class="container">
  <br>
  <!-- カレンダーのコンテナ -->
  <div id="calendar"></div>
</div>

<%= debug(params) if Rails.env.development? %>

<style>
.container{
  width: 100%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}
</style>