// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin-right: auto;//ここで中央寄せを指定する。
}

.container {
  background: red;
}

#reserve-calendar {
  text-align: center;
}